/* Complete Checkout */
.complete-checkout .img-fluid{
    max-width: 66%;
    height: auto;
}

.complete-checkout .btn-homepage{
    padding: 0.75rem;
    background-color: #4D17E2;
}

@media (min-width:768px){
.complete-checkout .button-group{
    width: 190px;
}
}
/*  */