/* Details */
.detail hr{
        margin: 0;    
        background-color:#E7EAF5;
        border: 0;
        opacity: 1;
}

.detail input{
    max-width: 437px;
    border: 1px solid #0C145A;
    padding: 0.75rem 1.625rem;
}

.detail input::placeholder{
    color: #CCD0DD;
}

.detail .detail-card{
    background-color: #F9FAFF;
    border-radius: 1.625rem;
    padding: 1.875rem;
}
